#curation-reference .input-column {
    float:          left;
    margin-top:     5px;
    margin-bottom:  0px;
}
#curation-reference .narrow {
    width:          150px;
    margin-left:    0px;
    margin-right:   20px;
}
#curation-reference button {
    width:          150px;
}
#curation-reference span#genes-add {
    margin-left:    1px;
}
#curation-reference textarea, select {
    height:         350px;
    width:          150px;
    margin:         0;
    padding:        0;
    line-height:    1em;
}
#curation-reference label {
    font-weight:    bold;
    margin:         5px 0 5px 0;
    float:          left;
}
#curation-reference .yui-button {
    margin: 1px;
}
#curation-reference input {
    margin-left: 0;
}
#curation-reference td {
    vertical-align: top;
}
#curation-reference th {
    border-bottom:  1px solid;
    padding:        5px 0;
}
