.reference .input-column {
    float:          left;
    margin-top:     5px;
    margin-bottom:  0px;
}
.reference .narrow {
    width:          150px;
    margin-left:    0px;
    margin-right:   20px;
}
.reference .yui-button button {
    width:          150px;
}
.reference span#genes-add {
    margin-left:    1px;
}
.reference textarea, select {
    height:         350px;
    width:          150px;
    margin:         0;
    padding:        0;
    line-height:    1em;
}
.reference label {
    font-weight:    bold;
    margin:         5px 0 5px 0;
    float:          left;
}
.reference .yui-button {
    margin:         1px;
}
.reference input {
    margin-left:    0;
}
.reference td {
    vertical-align: top;
}
.reference th {
    border-bottom:  1px solid;
    padding:        5px 0;
}
div.reference {
    min-width:      950px;
    min-height:     770px;
}
.reference .wide .yui-button button {
    width:          615px;
}